<div fxLayout="row" fxFlex="100%" fxLayoutAlign="center">
    <div class="user-add-card">
        <mat-card class="card-class">
            <h2>User Information</h2>
            <form class="example-form">
                <mat-card>
                    <div>

                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>First Name</mat-label>
                                <input matInput type="text" [value]="userData.firstName" readonly>
                            </mat-form-field>
                        </div>

                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Last Name</mat-label>
                                <input matInput type="text" [value]="userData.lastName" readonly>
                            </mat-form-field>
                        </div>

                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>
                                <input matInput type="text" [value]="userData.email" readonly>
                            </mat-form-field>
                        </div>

                    </div>
                </mat-card>

            </form>
        </mat-card>
    </div>

</div>